<!doctype html>

<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
  </head>

  <body>
    <section class="hero is-medium is-bold is-dark" id="app">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Pokemon APP
          </h1>
          <h2 class="subtitle">
            3NYOURMIND
          </h2>
          <form class="is-pulled-rigth" method="post" v-on:submit.prevent>
            <input class="input is-rounded is-medium"
                   type="text"
                   placeholder="Pokemon's name"
                   v-model="name"
                   v-on:keyup.enter="submit">
            {%csrf_token%}
          </form>
          <div v-if="hasError">[[errorMessage]]</div>
          <div v-if="pokemon">[[pokemon]]</div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
      let app = new Vue({
        el: '#app',
        data: {
          name: '',
          errorMessage: '',
          hasError: false,
          pokemon: null
        },
        delimiters: ['[[', ']]'],
        methods: {
          submit: async function(event) {
            event.preventDefault()
            let response = await fetch(`/api/pokemones/?name=${this.name}`)
            let json = await response.json()

            if (json.length > 0) {
              this.pokemon = json[0]
              this.hasError = false
            } else {
              this.errorMessage = 'Pokemon was not found.'
              this.hasError = true
            }
          }
        }
      })
    </script>
  </body>
</html>
